{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="{%static 'styles.css'%}" rel="stylesheet">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
    <div id="header" class="row">
        <p>Welcome to eTianguis</p>
    </div>
</div>

<div class="container">
    <div id="buttons" class="row">
        <a href="login">Login</a>
        <a href="signup">Sign up</a>
    </div>
</div>

</body>
</html>